<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.br.cb2"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="15"
        android:targetSdkVersion="19" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <application
        android:name = "com.br.cb2.CB2App"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.br.cb2.LoginActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.br.cb2.CreateRecipeActivity" >
        </activity>
         <activity
            android:name="com.br.cb2.CreateReviewActivity" >
        </activity>
         <activity
            android:name="com.br.cb2.EditRecipeActivity" >
        </activity>
         <activity
            android:name="com.br.cb2.PickerActivity" >
        </activity>
         <activity
            android:name="com.br.cb2.RecipeListActivity" >
        </activity>
        <activity
            android:name="com.br.cb2.RecipeListParse" >
        </activity>
        <activity
            android:name="com.br.cb2.RegisterActivity" >
        </activity>
        <activity
            android:name="com.br.cb2.ReviewListActivity" >
        </activity>
        <activity
            android:name="com.br.cb2.UserPasswordActivity" >
        </activity>
        <activity
            android:name="com.br.cb2.ViewRecipeActivity" >
        </activity>
    </application>

</manifest>